<div class="base-container">
  <div class="view-container">
    <div class="guttered-container">
      <div class="header">
          <img mc:edit="logo" class="company-logo" src="https://s3.ap-south-1.amazonaws.com/lkart-email-assets/Logo_nw.jpg" alt="Logo_nw.jpg">
      </div>
      <div class="name-container">
        <span class="name-text">Dear $data.applicantName,</span>
      </div>
      <div class="loan-id-container">
        <div class="loan-text-container">
          <span class="loan-text">Loan Application Number:</span>
          <span>&nbsp;</span>
          <span class="loan-id-text">$data.applicationId</span>
        </div>
      </div>
      <div class="body-container">
        <div class="main-text-container">
          <span class="main-text">
            Congratulation! Your Agreement is successfully signed. Next, we need signed 
            copies of the attached documents to proceed with your disbursal.
            <br/>
            <br/>
            Follow the steps below to complete the loan application process.
          </span>
        </div>
        <div class="steps-container">
          <div class="steps-left">
            <div class="step-number">
              <span>1</span>
            </div>
            <div class="vertical-step-line-container">
              <div class="vertical-step-line"></div>
            </div>
            <div class="step-number">
              <span>2</span>
            </div>
            <div class="vertical-step-line-container">
              <div class="vertical-step-line"></div>
            </div>
            <div class="step-number">
              <span>3</span>
            </div>
          </div>
          <div class="steps-right">
            <div class="step-1-container">
              <div class="step-text">
                  <span>
                    <b>Read “LK_Instruction_Manual.pdf”</b> to refer instructions for signing documents attached with 
                    this email.
                  </span>
              </div>
              <a class="download-manual-container">
                <div class="down-arrow-container">
                  <span>V</span>
                </div>
                <div class="orange-step-text">
                  <span>LK Instruction Manual</span>
                </div>
              </a>
            </div>
            <div class="step-2-container">
              <div class="step-text">
                  <span>
                    <b>Take Photo of the signed documents & share your documents with 
                        us via Whatsapp</b> for instant approval.
                  </span>
              </div>
              <a class="whatsapp-details-container">
                <div class="whatsapp-icon-container">
                  <span>V</span>
                </div>
                <div class="whatsapp-number">
                  <span>+91-7865463533</span>
                </div>
              </a>
            </div>
            <div class="step-3-container">
              <div class="step-text">
                  <span>
                    Courier us the <b>hard copies of signed documents.</b>
                  </span>
              </div>
              <div class="courier-details-container">
                <span class="courier-details">
                  <b><u>Courier Address</u></b>
                  <br/>
                  <br/>
                  Lendingkart Finance Limited, The First, 14th Floor, First Avenue, Besides Keshavbaug Party plot, 
                  Vastrapur, Ahmedabad, Gujarat, India - 380015
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="regards-container">
          <div>
            <span>Kind Regards,</span>
          </div>
          <div>
            <span>Lendingkart Finance</span>
          </div>
          <div>
            <span>Aakash Sharma (Loan Specialist)</span>
          </div>
          <div>
            <span class="phone-icon">V</span>
            <span>+91-9837372625</span>
          </div>
        </div>
      </div>
      <div class="help-container">
        <div class="help-header">
          <span>Looking for Help?</span>
        </div>
        <div class="help-contact">
          <span>info@lendingkart.com, 0124-3864889</span>
        </div>
        <div class="help-timings">
          <span>(Monday to Friday 10 AM to 7 PM )</span>
        </div>
      </div>
      <div class="footer-container">
        <div class="social-container">
          <div class="social-text">
            <span>Follow us on</span>
          </div>
          <div class="social-icon">
            <a href="https://www.facebook.com/lendingkart/" target="_blank">
              <img mc:edit="facebook" style="border:0 solid #DCDCDC; border-radius:4px;" src="https://s3.ap-south-1.amazonaws.com/lkart-email-assets/Facebook.jpg" alt="facebook">
            </a>
          </div>
          <div class="social-icon">
            <a href="https://twitter.com/Lendingkart" target="_blank">
              <img mc:edit="twitter" style="border:0 solid #DCDCDC; border-radius:4px;" src="https://s3.ap-south-1.amazonaws.com/lkart-email-assets/Twitter.jpg" alt="twitter">
            </a>
          </div>
          <div class="social-icon">
            <a href="https://www.linkedin.com/company/lendingkart" target="_blank">
              <img mc:edit="linkedin" style="border:0 solid #DCDCDC; border-radius:4px;" src="https://s3.ap-south-1.amazonaws.com/lkart-email-assets/LinkedIn.jpg" alt="linkedin">
            </a>
          </div>
        </div>
        <div class="lk-header-container">
          <span class="lk-orange">Lendingkart Finance Pvt Ltd</span>
          <span> (RBI Registered NBFC)</span>
        </div>
        <div class="address-container">
          <span>
            No.004, Ground Floor, Midas, Sahar Plaza Complex, Andheri- Kurla Road, Andheri (East), Mumbai-400 059
          </span>
        </div>
      </div>
    </div>
  </div>
</div>